PORT=3001
NODE_ENV=development

# WhatsApp Cloud API Configuration
WHATSAPP_VERIFY_TOKEN=
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=1206237129249849
WHATSAPP_BUSINESS_ACCOUNT_ID=336588892361699
WHATSAPP_GRAPH_API_VERSION=v18.0
